body {
    background-color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    image-rendering: auto;
}
h2 {
    font-style: italic;
    text-align: right;
   }
head {
    border-color: black; 
}
h1 {
    text-align: center;
    padding-block: grey;
}

img {
    float: right;
    
}
p {
    
}